<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        th {
            border: solid 1px rgb(22, 230, 101);
        }

        table {
            border-collapse: collapse;
            /* table-layout: fixed; */
            /* width: 310px; */
        }

        /* th{
            border: 1px;
        } */

        table td {
            border: solid 1px rgb(22, 230, 101);
            width: 100px;
            word-wrap: break-word;
        }

        .no-border {
            border: 0px;
        }
    </style>

    <script>
        function cancleCampaign(campaign_key, campaign_name, subjectofemail, email_body, timeofsend) {
            if (!window.confirm("are you sure to remove this campaign?")) {
                console.log("no");
            } else {
                console.log('yes');
                //now i will send request to delete the campaign from scheduling and save as draafts
                var cdetails = {
                    "campaign_key": `${campaign_key}`,
                    "campaign_name": `${campaign_name}`,
                    "subjectofemail": `${subjectofemail}`,
                    "email_body": `${email_body}`,
                    "timeofsend": `${timeofsend}`,
                }
                console.log(cdetails);
                let options = {
                    method: 'POST',
                    headers: {
                        'Content-Type':
                            'application/json;charset=utf-8'
                    },
                    body: JSON.stringify(cdetails)
                }
                // Fake api for making post requests
                let fetchRes = fetch(
                    "http://localhost:8080/cancel-set-campaign",
                    options);
                fetchRes.then(res =>
                    res.json()).then(d => {
                        console.log(d);
                        if (d.response_status == "1") {
                            document.location.reload();
                        } else {
                            window.alert("Can not remove this campaign Now , due to server error");
                        }
                    })
            }

        }
    </script>
    <link href="/css-files/campaigns.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>campaigns ejs</title>
</head>

<body>
    <div class="conatainer">
        <div class="side_bar bg-light">
            <%- include('../common/sidebar')%>
        </div>
        <div class="main_area">
            <div class="main_header">
                <div class="camp_heading w-100">
                    <div class="profile_plan h3 ">
                        <%=data.c_name%>
                    </div>
                    <div class="profile_info">
                        <div class="profile_container">
                            <div class="profile_info_name h5 ">
                                <%=data.name%>
                            </div>
                            <div class="profile_info_email h5 ">
                                <%=data.email%>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="camp_heading2 ml-4 w-100">
                    <div class="profile_plan h2 ">
                        Campaigns
                    </div>
                    <div class="profile_info">
                        <form id="main_form" method="post" action="/campaigns/create">
                            <button type="submit" class="btn btn-primary btn-lg">Create New Campaign</button>
                        </form>
                    </div>
                </div>
                <!-- <div class="title_name ml-4 h2">Campaigns</div> -->
                <div class="state ">
                    <%- include('../common/camp-navbar')%>
                </div>
            </div>

            <div class="work_area">
                <div class="work_container text-center m-4 p-4">
                    <!-- <div class="col-lg-8 grid-margin text-centre stretch-card"> -->
                    <div class="card">
                        <div class="card-body">
                            <h4 class="h2 card-title">Out Box</h4>
                            <p class="card-description">
                                Your Campaign Details
                            </p>
                            <%if(data.cdetails){%>
                                <div class="table-responsive">
                                    <table class="table" id="draft-table">
                                        <thead>
                                            <tr>
                                                <th class="no-border">To Remove</th>
                                                <th>campaign name</th>
                                                <th>subject of email</th>
                                                <th>Email Body</th>
                                                <th>time of send</th>
                                                <th>Whom to send</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% for (var i=0; i < data.cdetails.length; i++) { %>
                                                <tr class="no-border">
                                                    <td class="no-border">
                                                        <input
                                                            onclick="cancleCampaign(`<%=data.cdetails[i].campaign_key%>`,`<%=data.cdetails[i].campaign_name%>`, `<%=data.cdetails[i].subjectofemail%>`,`<%=data.cdetails[i].email_body%>`,`<%=data.cdetails[i].timeofsend%>`,)"
                                                            type="button" value="remove">
                                                    </td>
                                                    <td>
                                                        <%=data.cdetails[i].campaign_name%>
                                                    </td>
                                                    <td>
                                                        <%=data.cdetails[i].subjectofemail%>
                                                    </td>
                                                    <td>
                                                        <%=data.cdetails[i].email_body%>
                                                    </td>
                                                    <td>
                                                        <%=data.cdetails[i].timeofsend%>
                                                    </td>
                                                    <td>
                                                        <%=data.cdetails[i].whomtosend%>
                                                    </td>

                                                </tr>
                                                <%}%>
                                        </tbody>
                                    </table>
                                </div>
                                <%}%>
                        </div>

                    </div>
                    <%if(!data.cdetails){%>
                        <form id="main_form" method="post" action="/campaigns/create">
                            <div class="mb-3" name="email">
                                <label class="h3" for="exampleInputEmail1" class="form-label">Your Outbox is
                                    Empty</label>
                                <div id="emailHelp" class="form-text">Once you schedule your campaign, it will
                                    appear here.
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Create New Campaign</button>
                        </form>
                        <%}%>
                </div>
            </div>
        </div>
    </div>


</body>

</html>