<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/css-files/campaigns.css" rel="stylesheet" type="text/css">
    <link href="/css-files/widgit.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>campaigns ejs</title>
</head>

<body>
    <div class="conatainer">
        <div class="side_bar overflow-auto flex-column bg-light">
            <%- include('../../../common/sidebar')%>
        </div>
        <div class="main_area">
            <div class="main_header">
                <div class="camp_heading">
                    <div class="profile_plan h3 ">
                        <%=data.c_name%>
                    </div>
                    <div class="profile_info">
                        <div class="profile_container">
                            <div class="profile_info_name h5 ">
                                <%=data.name%>
                            </div>
                            <div class="profile_info_email h5 ">
                                <%=data.email%>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="state">
                    <nav class="navbar navbar-expand-lg navbar-light  ">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link text-dark font-weight-bold h6" href="">details <span><i
                                            class="arrow-right "></i></span></a> <span
                                    class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link text-dark font-weight-bold h6 disabled" href="content"
                                    aria-disabled="true">content <span><i class="arrow-right "></i></span></a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link text-dark font-weight-bold h6 disabled" href="recipients">recipients
                                    <span><i class="arrow-right "></i></span></a></a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link text-dark font-weight-bold h6 disabled"
                                    href="review_email">review<span><i class="arrow-right "></i></span></a></a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link text-dark font-weight-bold h6 disabled"
                                    href="schedule_email">schedule</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="title_name ml-4 h2">Campaigns details</div>
            </div>

            <div class="work_area">
                <div class="work_container m-4">
                    <form class="bg-light m-5" method="post" action="/campaigns/user/content">
                        <label class="h3 m-4 p-2">Campaign Name</label>
                        <label class="h6 ml-4 pl-2">This name is use to highlite your campaingn in mailerlite.</label>

                        <div class="form-group m-4 pl-2 ">
                            <label for="campaigns_name">Campaign Name</label>
                            <input type="text" name="campaigns_name" class="form-control" id="campaigns_name"
                                value="<%=data.campaign_name%>" readonly>
                        </div>

                        <label class="h3 m-4 p-2">Subject</label>
                        <label class="h6 ml-4 pl-2">This text will be displayed in the 'Subject' field in your
                            recipient's email client.</label>

                        <div class="form-group m-4 pl-2 ">
                            <label for="subject">Subject</label>
                            <input type="text" name="subject" class="form-control" id="subject" placeholder="" required>
                        </div>

                        <label class="h3 m-4 p-2">Who is It Form?</label>
                        <label class="h6 ml-4 pl-2">This will be displayed in the 'From' field of your recipient's email
                            client. We recommend using your own email and name.</label>
                        <div class="row m-3 m-2">
                            <div class="form-group col ">
                                <label for="s_name">Sender's Name</label>
                                <input type="text" name="s_name" class="form-control" id="s_name"
                                    value="<%=data.name%>" required>
                            </div>
                            <div class="form-group col  ">
                                <label for="s_email">Sender's Email</label>
                                <input type="text" name="s_email" class="form-control" id="s_email"
                                    value="<%=data.email%>" readonly>
                            </div>
                        </div>

                        <hr>
                        <div class="text-center pb-2 pl-4">
                            <button type="submit" class=" btn btn-success">Save & Next</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>

</html>