<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/css-files/campaigns.css" rel="stylesheet" type="text/css">
    <link href="/css-files/widgit.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>campaigns ejs</title>
</head>

<body>
    <div class="conatainer">
        <div class="side_bar overflow-auto flex-column bg-light">
            <%- include('../../../common/sidebar')%>
        </div>
        <div class="main_area">
            <div class="main_header">
                <div class="camp_heading">
                    <div class="profile_plan h3 ">
                        <%=data.c_name%>
                    </div>
                    <div class="profile_info">
                        <div class="profile_container">
                            <div class="profile_info_name h5 ">
                                <%=data.name%>
                            </div>
                            <div class="profile_info_email h5 ">
                                <%=data.email%>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="state">
                    <%- include('../../../common/edit-navbar')%>
                </div>
                <div class="title_name h2">Review page</div>
            </div>

            <div class="work_area">
                <div class="work_container m-4">

                    <form class="bg-light m-5" method="post" action="/campaigns/user/schedule">
                        <div class="form-group col ">
                            <label for="s_name">Sender's Name</label>
                            <input type="text" name="s_name" class="form-control" id="s_name" value="<%=data.name%>"
                                readonly>
                        </div>
                        <div class="form-group col ">
                            <label for="s_name">Sender's Email Adress</label>
                            <input type="s_email" name="s_email" class="form-control" id="s_email"
                                value="<%=data.email%>" readonly>
                        </div>
                        <div class="form-group col ">
                            <label for="s_name">Campaign Name</label>
                            <input type="text" name="campaign_name" class="form-control" id="campaign_name"
                                value="<%=data.campaign_name%>" readonly>
                        </div>
                        <div class="form-group col ">
                            <label for="s_name">Campaign type</label>
                            <input type="text" name="Campaign_type" class="form-control" id="Campaign_type"
                                value="<%=data.campaign_type%>" readonly>
                        </div>
                        <div class="form-group col ">
                            <label for="s_name">Subject</label>
                            <input type="text" name="subject" class="form-control" id="subject"
                                value="<%=data.subject%>" readonly>
                        </div>
                        <div class="form-group col ">
                            <label for="s_name">Email Body</label>
                            <input type="text" name="email_body" class="form-control" id="email_body"
                                value="<%=data.email_body%>" readonly>
                        </div>
                        <div class="form-group purple-border">
                            <label for="email_body">Email Body</label>
                            <textarea class="form-control" name="email_body" id="email_body" rows="3"
                                readonly><%=data.email_body%></textarea>
                        </div>
                        <div class="form-group col ">
                            <label for="s_name">Whom to send</label>
                            <input type="text" name="wts" class="form-control" id="wts" value="<%=data.wts%>" readonly>
                        </div>
                        <hr>
                        <div class="pb-2 pl-4">
                            <button type="submit" class=" btn btn-primary">GO Next for schedule</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>

</html>