<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/javascripts/form_action.js"></script>
    <%- include('./layout'); %>
        <title>form page</title>
        <style media="screen">
            /* *,
            *:before,
            *:after {
                padding: 0;
                margin: 0;
                box-sizing: border-box;
            } */
            /* body {
                background-color: #0855ae;
            } */
            .form_link {
                background-color: rgb(211, 211, 211);
            }

            .create_group_popup {
                background-color: rgba(230, 177, 177, 0.582);
                width: 420px;
                padding: 30px 40px;
                position: absolute;
                transform: translate(-50%, -50%);
                left: 60%;
                top: 50%;
                border-radius: 8px;
                font-family: "Poppins", sans-serif;
                display: none;
                text-align: center;
            }

            .create_group_popup button {
                display: block;
                margin: 0 0 0 auto;
                background-color: transparent;
                font-size: 30px;
                color: #ffffff;
                background: #c40d0d;
                border-radius: 100%;
                width: 40px;
                height: 40px;
                border: none;
                outline: none;
                cursor: pointer;
            }

            .create_group_popup h2 {
                /* margin-top: -20px; */
                float: left;
                padding: auto;
                margin: 25px 0;
            }

            /* .create_group_popup p {
                font-size: 14px;
                text-align: justify;
                margin: 20px 0;
                line-height: 25px;
            } */
            .create_group_popup a {
                display: block;
                /* width: 150px; */
                /* position: relative; */
                margin: 10px;
                /* text-align: center; */
                /* background-color: #0f72e5; */
                /* border-radius: 20px; */
                /* color: #ffffff; */
                text-decoration: none;
                /* padding: 8px 0; */
            }
        </style>
</head>

<body>
    <div class="wrapper d-flex flex-raw">
        <div class="side_bar overflow-auto flex-column bg-dark">
            <%- include('../common/sidebar')%>
        </div>
        <div class="main_area">
            <div class="main_header">
                <div class="row m-3 mt-3">
                    <div class="col h5 ">
                        <%=user_details.c_name%>
                    </div>
                    <div class="col  ">
                        <div class="row float-right ">
                            <div class="col popup mr-2" onclick="myFunction()">
                                <div class="row">
                                    <span><i class="arrow-down "></i></span>
                                </div>
                                <div class="row popuptext text-center" id="myPopup">
                                    <form>
                                        <input class="btn bg-transparent text-light ml-1" formmethod="get"
                                            formaction="/logout" type="submit" value="logout" onclick="runHello()">
                                        <input class="btn btn-success mr-1" formaction="/profile" formmethod="get"
                                            type="submit" value="Profile" onclick="runHello()">
                                    </form>
                                </div>
                            </div>
                            <div class="col mr-lg-5 ">
                                <div class="row  ">
                                    <%=user_details.name%>
                                </div>
                                <div class="row float-right ">
                                    <%=user_details.email%>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main_content">
                <div class="row m-3">
                    <div class="h1 ">Subscriber groups</div>
                    <% if (data.length>0) { %> <div class="container-fluid mt-5">
                            <form id="group_form" method="post"
                                action="/form/<%=user_details.form_id%>/submit_form_group">
                                <!-- Default checkbox -->
                                <fieldset>
                                    <div class="row">
                                        <legend class="col h3">Select subscriber groups</legend>
                                        <div class="col d-flex justify-content-end align-items-center">
                                            <a onclick="open_popup()" class="btn btn-success">Create group</a>
                                        </div>
                                    </div>
                                    <div class="check_wrap p-2 bg-white my-4">
                                        <% if(data.length){ for(var i=0; i< data.length; i++) {%>
                                            <div style="border-radius: 10px; background: lightgray;
                                            color: black; display: flex; justify-content: space-between; align-items: center;
                                            font-size: 1rem;" class="mt-2 p-2 ">
                                                <div
                                                    style="display: flex; justify-content: center; align-items: center;">
                                                    <input onchange="submit_enabler()" class=""
                                                        style="height: 15px;width: 20px;" type="checkbox"
                                                        value="<%=data[i].group_key%>" id="<%=data[i].group_key%>"
                                                        name="Group" />
                                                    <label
                                                        style="display: flex; justify-content: center; align-items: center; margin: 0 1rem;"
                                                        for="<%=data[i].group_key%>">
                                                        <%=data[i].group_name%>
                                                    </label>
                                                </div>
                                                <div class="mx-2"
                                                    style="display: flex; justify-content: center; align-items: center;">
                                                    <i class="fa-solid fa-user mx-2"></i><span>
                                                        <%=data[i].subs%>
                                                    </span>
                                                </div>
                                            </div>
                                            <% } }else{ %>
                                                <div class="container-fluid">
                                                    <h1>no groups</h1>
                                                </div>
                                                <% } %>
                                    </div>
                                </fieldset>
                                <input id="submit_btn" type="submit" class="btn btn-success float-right"
                                    value="Save and Continue" disabled>
                            </form>
                        </div>
                        <%} else { %>
                            <div class="container-fluid card d-flex align-items-center mt-5" style="padding:5em;">
                                <h3 class="mt-2 lg:max-w-4xl"> You don't have any groups.</h3>
                                <p class="my-4 ">Groups allow you to organize your subscribers based on interest,
                                    actions, and more. </p>
                                <a onclick="open_popup()" class="btn btn-success btn-lg">Create group</a>
                            </div>
                            <% } %>
                </div>
            </div>
        </div>
    </div>
    <div class="create_group_popup container-fluid" style="display:none;">
        <div>
            <button id="close">&times;</button>
            <h2>Create group</h2>
            <input class="form-control" type="text" placeholder="Enter group name" name="group_name" id="group_name"
                required>
            <div class="d-flex float-right ">
                <a class="btn btn-danger btn-lg" id="cancel">cancel</a>
                <a class="btn btn-success btn-lg" onclick="create_group()">Create</a>
            </div>
        </div>
    </div>
    <!-- scripts -->
    <script type="text/javascript">

        function open_popup() {
            document.querySelector(".create_group_popup").style.display = "block";
        }


        document.querySelector("#close").addEventListener("click", function () {
            document.querySelector(".create_group_popup").style.display = "none";
        });
        document.querySelector("#cancel").addEventListener("click", function () {
            document.querySelector(".create_group_popup").style.display = "none";
        });



        function submit_enabler() {
            var checkboxes = document.querySelectorAll('input[type="checkbox"]');
            var checkedOne = Array.prototype.slice.call(checkboxes).some(x => x.checked);

            document.getElementById('submit_btn').disabled = true;
            if (checkedOne) {
                document.getElementById('submit_btn').disabled = false;
            }
        }
    </script>
</body>

</html>