<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/javascripts/form_action.js"></script>
    <%- include('./layout'); %>
        <title>form page</title>
        <style>
            .form_link {
                background-color: rgb(211, 211, 211);
            }
        </style>
        <script>
            domain = '<%=user_details.WEB_HOST %>';
        </script>
</head>

<body>
    <div class="wrapper d-flex flex-raw">
        <div class="side_bar overflow-auto flex-column bg-dark">
            <%- include('../common/sidebar')%>
        </div>
        <div class="main_area">
            <div class="main_header">
                <div class="row m-3 mt-3">
                    <div class="col h5 ">
                        <%=user_details.c_name%>
                    </div>
                    <div class="col  ">
                        <div class="row float-right ">
                            <div class="col popup mr-2" onclick="myFunction()">
                                <div class="row">
                                    <span><i class="arrow-down "></i></span>
                                </div>
                                <div class="row popuptext text-center" id="myPopup">
                                    <form>
                                        <input class="btn bg-transparent text-light ml-1" formmethod="get"
                                            formaction="/logout" type="submit" value="logout" onclick="runHello()">
                                        <input class="btn btn-success mr-1" formaction="/profile" formmethod="get"
                                            type="submit" value="Profile" onclick="runHello()">
                                    </form>
                                </div>
                            </div>
                            <div class="col mr-lg-5 ">
                                <div class="row  ">
                                    <%=user_details.name%>
                                </div>
                                <div class="row float-right ">
                                    <%=user_details.email%>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main_content">
                <div class="row m-3">
                    <div class="col h1 "> Forms </div>
                    <div class="col d-flex justify-content-end align-items-center">
                        <a href="/form/form_name" class="btn btn-success float-right mr-lg-5">Create Form</a>
                    </div>
                </div>
                <% if (data.length>0) { %> <div class="container">
                        <% if(data.length){ for(var i=0; i< data.length; i++) {%>
                            <div class="card m-3">
                                <div class="card-body row">
                                    <div class="title_div col">
                                        <h3 class="card-title">
                                            <%= data[i].title%>
                                        </h3>
                                        <p class="card-text"><small class="text-muted">Created on: <%=
                                                    data[i].created_on%></small></p>
                                    </div>
                                    <%if(data[i].group_key && data[i].formSchema){%>
                                        <div class="col">
                                            <a class="btn btn-success"
                                                href="/form/<%=data[i].form_id%>/form_overview">Overview</a>
                                        </div>
                                        <div class="col">
                                            <h4>Subscribers : <%=subscriber[i].count%>
                                            </h4>
                                        </div>
                                        <div class="col">
                                            <div class="float-right">
                                                <form class="pb-2" action="/form/<%=data[i].form_id%>/create_form"
                                                    method="post">
                                                    <input type="hidden" name="form_id" value='<%=data[i].form_id%>'>
                                                    <button type="submit"
                                                        style="cursor:pointer; border: none; padding: 0; background: transparent;"><i
                                                            title="update the form"
                                                            class="fa-solid fa-pen-clip"></i></button>
                                                </form>
                                                <div class="pb-2">
                                                    <a style="cursor:pointer;"
                                                        onclick="Delete_form(`<%= data[i].form_id%>`,`<%= data[i].title%>`)"><i
                                                            title="delete the form"
                                                            class="fa-solid fa-trash-can text-danger"></i></a>
                                                </div>
                                                <div class="pb-2">
                                                    <a style="cursor:pointer;"
                                                        onclick="Preview_form(`<%= user_details.user_key%>`,`<%= data[i].form_id%>`)">
                                                        <i title="preview the form"
                                                            class="fa-solid fa-magnifying-glass"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <% } else if(!data[i].group_key){ %>
                                            <form method="post" class="col"
                                                action="/form/<%=data[i].form_id%>/form_group">
                                                <button type="submit" class="btn btn-success">Continue Editing</a>
                                                </button>
                                            </form>
                                            <div class="pb-2 col"
                                                style="display: flex; justify-content: end; align-items: center;">
                                                <a style="cursor:pointer;"
                                                    onclick="Delete_form(`<%= data[i].form_id%>`,`<%= data[i].title%>`)"><i
                                                        title="delete the form"
                                                        class="fa-solid fa-trash-can text-danger"></i></a>
                                            </div>
                                            <% } else if(!data[i].formSchema){ %>
                                                <form method="post" class="col"
                                                    action="/form/<%=data[i].form_id%>/create_form">
                                                    <button type="submit" class="btn btn-success">Continue Editing</a>
                                                    </button>
                                                </form>
                                                <div class="pb-2 col"
                                                    style="display: flex; justify-content: end; align-items: center;">
                                                    <a style="cursor:pointer;"
                                                        onclick="Delete_form(`<%= data[i].form_id%>`,`<%= data[i].title%>`)"><i
                                                            title="delete the form"
                                                            class="fa-solid fa-trash-can text-danger"></i></a>
                                                </div>
                                                <% } %>
                                </div>
                            </div>
                            <% } }else{ %>
                                <div class="card">
                                    <p>No response</p>
                                </div>
                                <% } %>
                    </div>
                    <%} else { %>
                        <div class="card d-flex flex-row m-3">
                            <div id="create_form_image">
                                <img class="img-thumbnail float-start rounded"
                                    src="http://<%=user_details.WEB_HOST%>:8080/static/formbuilder_image.png"
                                    alt="form image" style="width:400px;height:300px;" draggable="false">
                            </div>
                            <div class="pl-2 rounded">
                                <p class="mt-2"> Collecting email addresses just got easier, thanks to custom subscriber
                                    forms placed on your website.</p>
                                <div>
                                    <ul class="my-4 space-y-2 list-disc" style="list-style-position: inside;">
                                        <li>Design forms that complement your website</li>
                                        <li>Embed forms anywhere on your page</li>
                                        <li>Apply GDPR-friendly settings to remain compliant</li>
                                    </ul>
                                </div>
                                <div>
                                    <a href="/form/form_name" class="btn btn-success btn-lg">Create form</a>
                                </div>
                            </div>
                        </div>
                        <% } %>
            </div>
        </div>
    </div>
</body>

</html>